a[href="mailto:iwannabe@besingular.com"]:hover {
    color: white !important
}

a[href="tel:+919910524422"]:hover {
    color: white !important;
}

a[href="https://www.facebook.com/pg/BeSingular-Academy-1346600502131308"]:hover {
    color:white !important;
}

a[href="https://twitter.com/besingularac"]:hover {
    color: white !important;
}

a[href="https://www.instagram.com/besingularac/"]:hover {
    color: white !important;
}

a[href="https://www.linkedin.com/company/besingular-academy"]:hover {
    color: white !important;
}

a[href="https://in.pinterest.com/besingularacademy/"]:hover {
    color: white !important;
}

.justify-text {
    text-align: justify !important;
}

.about-us:hover {
    box-shadow: 0px 5px 10px 0px rgba(132, 68, 154, 0.25);
}

body {
    letter-spacing: 1px;
}